body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #34086b;
    color: rgb(192, 157, 231);
    padding: 15px 0;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    background-color: rgb(192, 157, 231);
}
#hero {
    background-image: url("https://images.rawpixel.com/image_400/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTAyL3Jhd3BpeGVsb2ZmaWNlOV9uZW9uX2Fic3RyYWN0X3dhbGxwYXBlcl9iYWNrZ3JvdW5kX2luX3RoZV9zdHlsZV8xODljOGJlOC1lM2Y5LTQ2NjktOGU0Ny1jMTljYjBlZGEzYWVfMS5qcGc.jpg") ;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(30, 30, 30);
}
.hero-content {
background-color: rgb(150, 226, 229);
padding: 20px;
}
.hero-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #34086b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.hero-button:hover {
    background-color: #24044c;

}
#mission h2 {
    background-color: rgb(220, 187, 239);
    padding: 20px;
    text-align: center;
    color: rgba(48, 4, 4, 0.764);
}
#mission p {
    background-color: rgb(220, 187, 239);
    padding: 20px;
    text-align: center;
    color: rgb(50, 50, 50) ;
}
#contact {
    background-color: rgb(220, 187, 239);
    padding: 20px;
    text-align: center;
}

#contact h2 {
    color: rgb(50, 50, 50);
    margin-bottom: 15px;
    text-align: center;
}

#contact p {
    margin-bottom: 10px;
    text-align: center;
}

#services li:hover,
#contact p:hover {
    color: darkorchid;
    cursor: pointer;
}
footer {
    background-color:#34086b ;
    color: white;
    text-align: center;
    padding: 10px 0;
}
@media screen and (max-width: 768px) {
    #services, #about, #contact {
        text-align: center;
    }

    #services ul {
        list-style-type: none;
        padding: 0;
    }
}
