body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #34086b;
    color: rgb(192, 157, 231);
    padding: 15px 0;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    background-color: rgb(192, 157, 231);
}

footer {
    background-color:#34086b ;
    color: white;
    text-align: center;
    padding: 10px 0;
}
#hero {
    background-image: url("https://th.bing.com/th/id/OIP.ssXhpEQ4MO2-mFMFWwxR3gHaEj?w=312&h=192&c=7&r=0&o=5&dpr=2&pid=1.7") ;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}